body {
  background: #f5f5f5;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#timer{
  text-align: center;
  font-size: xx-large;
}

h1 {
  text-align: center;
}

h3 {
  text-align: center;
}

.quiz-container{
    max-width: 700px;
    margin: 40px auto;
    padding: 30px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}


.question {
  font-weight: bold;
  font-size: 1.4rem;
  list-style: none;
}


#options {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 20px;
  list-style: none;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}

#button {
  border: none;
  outline: none;
  border-radius: 15px;
  background-color: lightslategrey;
  cursor: pointer;
  margin-top: 25px;
  padding: 12px 20px;
}

#button:hover {
  transform: scale(1.05);
  background-color: darkgrey;
}

.radio {
  cursor: pointer;
  accent-color: green;
}

.radio:hover {
  transform: scale(1.06);
}

.result-box {
  display: flex;
  justify-content: center;
  font-weight: bolder;
  color: green;
}

footer{
    text-align: center;
}


@media (max-width: 600px){
    .quiz-container{
        margin-top: 10px;
        padding: 20px;
    }

    .question{
        font-size: 1.2rem;
    }
    
    #button{
        padding: 10px 15px;
    }
}