.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
  margin: 0 auto;
  background: blueviolet;
  padding: 15px;
  border-radius: 10px;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  min-width: 400px;
  padding: 20px;
  gap: 10px;
  margin: 20px auto;
  background: #f5f5f5;
  border-radius: 15px;
}

input {
  padding: 10px 30px;
  border-radius: 10px;
  outline: none;
  border: 2px  solid transparent;
}

input:hover {
  border: 2px solid blueviolet;
}

button {
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  background: rgb(125, 5, 237);
}

li{
    font-size: 1.2rem;
}

.mode{
  display: flex;
  justify-content: space-evenly;
}

input{
  cursor: pointer;
}

label{
  font-size: 1.2rem;
}

@media (max-width: 546px) {
    .input-container{
      min-width: 0;
        width: 90%;
    }
}